# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore eclipse configuration
.settings
bin
.classpath
.project
src/test/resources/credentials.properties
